body {
background-color: #cccccc;
max-width: 1050px;
font-family: Arial, sans, sans-serif;
font-size: 15px;
margin-left:auto;
margin-right:auto;
}

a {
text-decoration:none;
color:#3172f4;
}

a:hover {
text-decoration:underline;
}

h1 {
font-family: "Bitstream Charter", "Century Schoolbook L", serif;
}

div.header {
display:block;
max-width: 1050px;
background-color: #151515;
padding:15px;
}

div.navbar {
background-color: #3172f4;
}

div.content {
background-color: #eeeeee;
padding:10px;
}

div.footer {
padding:10px;
text-align:center;
background-color:#151515;
color:white;
font-size: 13px;
border-top: 4px solid #3172f4;
}

div.footer a{
color:white;
text-decoration:none;
}

div.footer a:hover{
text-decoration:underline;
}

ul.navmenu {
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}

li.menulink {
float:left;
}

li.menulink a{
display: inline-block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li.menulink a:hover{
background-color: #151515;
}

img.logo {
height:54px;
margin:0;
}
